/* Full screen background */
.app {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(135deg, #07974d, #aece62);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

/* Center card */
.join-container {
  background: #6eca8b;
  padding: 30px;
  border-radius: 10px;
  width: 320px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(8, 8, 8, 0.8);
}

/* Title */
.join-container h2 {
  color: #090909;
  margin-bottom: 20px;
}

/* Input field */
.room-input {
  width: 90%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid #333;
  background: #1e1e1e;
  color: #fcfafa;
  outline: none;
}

.room-input::placeholder {
  color: #aaa;
}

/* Button */
.join-btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 6px;
  background: #06640a;
  color: #0c0c0c;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.join-btn:hover {
  background: #daf0db;
}